* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Castoro', serif; }

header {
  background-color: #22413b;
  display: flex;
  color: whitesmoke;
  padding: 1.5rem;
  font-family: 'Castoro Titling';
  font-size: 0.9rem;
  font-style: italic; }
  header nav div {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-family: 'Castoro Titling'; }
    header nav div ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'Castoro Titling'; }
      header nav div ul li a {
        text-decoration: none;
        display: flex;
        font-family: 'Castoro Titling';
        color: whitesmoke; }

.main-index {
  color: #6d3f2b;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center; }
  .main-index h1 {
    color: #6d3f2b;
    text-align: center;
    margin: 1rem;
    font-family: 'Eczar', serif;
    font-size: 2.3rem; }
  .main-index div div img {
    width: 100%;
    height: 60vh;
    object-fit: cover; }
  .main-index div div div .texto-principal {
    font-family: 'Castoro', serif;
    color: #6d3f2b;
    font-size: 1.4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: justify; }
  .main-index div div div .titulo-secundario {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: whitesmoke;
    background-color: #22413b;
    font-style: oblique;
    font-family: 'Castoro', serif;
    font-family: 'Castoro Titling', cursive; }
  .main-index div div div .unite {
    font-family: 'Castoro', serif;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    margin-top: 0.5rem; }
  .main-index div div div button .boton {
    font-style: none;
    text-decoration: none;
    font-family: 'Castoro', serif;
    color: whitesmoke;
    background-color: #22413b;
    padding: 2rem;
    font-size: 1rem;
    margin-top: 2.5rem; }
  .main-index div .linea-marron {
    width: 90%;
    height: 1vh;
    object-fit: cover; }
  .main-index div div .populares {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    color: #22413b;
    font-style: oblique;
    font-family: 'Castoro', serif;
    font-family: 'Castoro Titling', cursive; }
  .main-index div div div .contenedor-descripcion {
    font-size: 1.2rem;
    font-family: 'Castoro', serif;
    text-decoration: underline; }

footer {
  background-color: #22413b;
  color: whitesmoke;
  font-family: 'Castoro', serif; }
  footer div {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem; }
    footer div h3 {
      padding: 1rem;
      font-family: 'Castoro', serif; }
    footer div img {
      height: 7vh;
      margin-bottom: 2rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem; }
    footer div p {
      text-align: center;
      padding-bottom: 2rem;
      font-family: 'Castoro', serif; }

@media screen and (min-width: 1200px) {
  body main .titulo-principal {
    font-size: 4rem; }
  body main .contenedor-main {
    margin-top: 1rem; }
    body main .contenedor-main .caja {
      margin: 0rem 7rem 0rem;
      display: grid;
      gap: 7rem;
      grid-template-columns: 40% 40%;
      grid-template-rows: 40%;
      grid-template-areas: "cafe foto", "texto foto", "boton foto", "unite foto"; }
      body main .contenedor-main .caja div {
        margin-top: 1rem; }
      body main .contenedor-main .caja .contenedor-texto .titulo-secundario {
        font-size: 2.7rem; }
      body main .contenedor-main .caja .contenedor-texto .texto-principal {
        font-size: 1.5rem; }
      body main .contenedor-main .caja .contenedor-texto button {
        margin-bottom: 1rem;
        padding: 0.5rem; }
      body main .contenedor-main .caja .contenedor-texto p {
        text-align: center;
        margin-bottom: 4rem; }
  body main .linea-marron {
    width: 100%;
    height: 1vh;
    justify-self: center;
    display: flex;
    justify-items: center;
    justify-content: center; }
  body main .populares {
    float: left;
    font-size: 2rem;
    text-align: center; }
  body main .productos-home {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40%;
    grid-template-areas: "img img img"; }
    body main .productos-home .product {
      margin-top: 2rem;
      height: 40vh;
      width: 55vw;
      grid-area: img; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Castoro', serif; }
  body h1 * {
    color: #6d3f2b; }
  body header {
    background-color: #22413b;
    display: flex;
    color: whitesmoke;
    padding: 1.5rem;
    font-family: 'Castoro Titling';
    font-size: 0.9rem;
    font-style: italic; }
    body header nav div {
      list-style: none;
      display: flex;
      gap: 2rem;
      font-family: 'Castoro Titling'; }
      body header nav div ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Castoro Titling'; }
        body header nav div ul li a {
          text-decoration: none;
          color: whitesmoke;
          display: flex;
          font-family: 'Castoro Titling'; }
  body main h1 {
    color: #6d3f2b;
    text-align: center;
    margin: 1rem;
    font-family: 'Eczar', serif;
    font-size: 2.3rem; }
    body main h1 h2 {
      margin: 1rem;
      color: #22413b;
      font-style: italic;
      font-family: 'Castoro Titling';
      text-align: center;
      margin-top: 3rem;
      text-decoration: underline; }
    body main h1 div div .ftoshop {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 100%);
      width: 60vh;
      height: 60vh; }
      body main h1 div div .ftoshop .descripcion-producto {
        font-family: 'Castoro Titling';
        font-family: 'Castoro', serif;
        text-align: center;
        font-size: 1.3rem;
        color: #6d3f2b;
        text-decoration: underline;
        margin-bottom: 1rem; }

@media screen and (min-width: 1200px) {
  main .nombre {
    color: #6d3f2b; }
  main .nuestros-productos {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: #22413b;
    font-style: italic; }
  main .div-shop {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25%;
    grid-template-areas: "img img img ";
    margin-left: 2.5rem; }
    main .div-shop .contenedor-shop .ftoshop {
      width: 25vw;
      height: 45vh;
      grid-area: img;
      justify-items: center;
      justify-content: center;
      margin-bottom: 0.5rem; }
    main .div-shop .contenedor-shop .descripcion-producto {
      text-align: justify;
      font-size: 1rem;
      text-decoration: underline;
      color: #6d3f2b;
      margin-bottom: 3rem; } }

footer {
  background-color: #22413b;
  color: whitesmoke;
  font-family: 'Castoro', serif; }

body main h1 {
  color: #6d3f2b;
  text-align: center;
  margin: 1rem;
  font-family: 'Eczar', serif;
  font-size: 2.3rem; }

body main div .logo {
  margin: 2rem;
  object-fit: cover;
  height: 60vh;
  width: 70vh;
  justify-content: center; }

body main div .historia {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  color: whitesmoke;
  background-color: #6d3f2b;
  font-size: 1.5rem;
  padding: 1rem; }

@media screen and (min-width: 1200px) {
  body main h1 {
    color: forestgreen; }
  body main .sobre-nosotros {
    text-align: center;
    font-size: 2rem; }
  body main div .logo {
    width: 4rem;
    height: 30vh;
    margin-left: 5rem;
    margin-top: 4rem; }
  body main div .historia {
    margin-top: 2rem;
    margin-left: 13rem; } }
