@import "../utilidades/variables";

body{
    main{
        .tituto{
            color: rgb(109, 63, 43);
            text-align: center;
            margin: 1rem;
            font-family:'Eczar', serif  ;
            font-size: 2.3rem;
        }
        h2{
            color: $color-principal;
            text-align: center;
            margin: 1rem;
            font-size: 1.7rem;
            font-style: italic;
        
        }
        form{
            color: rgb(109, 63, 43);
            outline-style: none;
            font-family: 'CASTORO', serif;
            font-style: italic;
            fieldset{
                legend{
                    margin: 1rem;
                }
            }
        }
    }
}