@import "../utilidades/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    main{
         .nuestros-productos{
            margin-bottom: 2rem;
                    text-align: center;
                    margin-top: 3rem;
                    color: rgb(34, 65, 59);
                    font-style: italic;
         }
         div{
            .contenedor-shop{
                justify-content: center;
                .ftoshop{
                    width: 75vw;
                    height:65vh ;
                    justify-content: center;
                    margin-left: 4rem;
                    margin-top: 1rem;
                }
                .descripcion-producto{
                    text-align: center;
                    font-size: 1.3rem;
                    color: rgb(109, 63, 43);
                    text-decoration: underline;
                    margin-bottom: 2.5rem;
                }
            }
         }
    }
}



        @media screen and (min-width:1200px){
            main {
            .nombre{
                    color: rgb(109, 63, 43);
                }
                .nuestros-productos{
                    margin-bottom: 3rem;
                    text-align: center;
                    margin-top: 3rem;
                    color: rgb(34, 65, 59);
                    font-style: italic;
                 }
                
                .div-shop{
                    justify-content: center;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 25%;
                    grid-template-areas: 
                    "img img img ";
                    
                    margin-left: 2.5rem;
                    .contenedor-shop{
                        
                        
                        
                        .ftoshop{
                                width: 25vw;
                                height: 45vh;
                                grid-area: img;
                                justify-items: center;
                                justify-content: center;
                                margin-bottom: 0.5rem;
                        }
                        .descripcion-producto{
                            text-align: justify;
                            font-size: 1rem;
                            text-decoration: underline;
                            color: rgb(109, 63, 43);
                            margin-bottom: 3rem;
                        }
                    }
                }
              

                }
               
                 
                
            }
            
             
            
            
            
                  
                
            
                footer{
                    background-color: rgb(34, 65, 59);
                    color: whitesmoke;
                    font-family: 'Castoro', serif;
                }
            