@import "../utilidades/variables";


body{
    main{
        h1{
            color: rgb(109, 63, 43);
            text-align: center;
            margin: 1rem;
            font-family:'Eczar', serif  ;
            font-size: 2.3rem;
        }
        div{
            .logo{
                margin: 2rem;
                object-fit: cover;
                height: 60vh;
                width: 70vh;
                justify-content: center;
            }
            .historia{
                margin-left: 2rem;
                margin-right: 2rem;
                text-align: justify;
                color: whitesmoke;
                background-color: rgb(109, 63, 43);
                font-size: 1.5rem;
                padding: 1rem;

                
            }
            }
        }
    }


    @media screen and (min-width:1200px){
        .body-sobre-nosotros {
            main{
                

                .sobre-nosotros{
                    text-align: center;
                
                    font-size: 2rem;
                }
                div{
                    display: grid;
                    grid-template-columns: repeat(1.5, 70%);
                    grid-template-rows: 14;
                    grid-template-areas: "logo p";
                    div{
                        .logo{
                            grid-area: logo;
                            margin-left: 4rem;
                            
                        }
                    }
                    div{
                        
                        .historia{
                            align-content: center;
                            align-self: center;
                            align-items: center;
                            grid-area: p;
                            margin-bottom: 2rem;
                        }
                    
                    }
                    div{
                        img{
                            margin-left: 5rem;
                            height: 60vh;
                        }
                    }
                                }}
        }
    }